.login{
    display: grid;
    place-items: center;
    height: 100vh;
    
}

.login>button{
    width: 300px;
    background-color: #2e81f4;
    color: white;

}
.login>button:hover{
    color: #2e81f4;
    background-color: rgb(235, 235, 235);
    transition: .3s;
transform: scale(1.1);
}

.login>div>img{
    object-fit: contain;
    height: 150px;
    width: 100px;
    margin-bottom: -70px;
}

.login>div{
    display: flex;
    flex-direction: column;
}